{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'profile.css' %}">
        <title>{{ title }}</title>
    </head>
    <body>
        <div>
            <h1><a href="#">Profile</a></h1>
        </div>
        {% for post in posts %}
        <div>
            {{ now_at_user.first_name }} thinking..:
            {{ post.text }}
        </div>
        {% endfor %}
    </body>
</html>