{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'friends.css' %}">
        <title>{{ title }}</title>
    </head>
    <body>

         <!-- FIXED NAVBAR -->
         <nav class="navbar navbar-expand-lg navbar-light fixed-nav-bar">
          <a class="navbar-brand" href="#">
              <img src="{% static 'logo.png' %}" width="40" height="40" alt="">
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">  
                <a class="nav-link" href="{% url 'profile' login_user.username %}" style="color: #ffffff;">My profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'messages' %}" style="color: #ffffff;">Messages</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'friends' %}" style="color: #ffffff;">Friends</a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" style="color: #ffffff;">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
              <div class="container h-100">
                  <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                      <input class="search_input" type="text" name="q" placeholder="Search...">
                      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                  </div>
                </div>
            </form>
          </div>
      </nav>

        <!-- PROFILE CONTAINER -->
        <div class="row wide">
          <div class="col"></div>
          <div class="col-6" style="background-color: #ffffff;border-radius: 10px; margin: 12.5vh 0 5vh 0; min-height: 75.7vh; padding-bottom: 5vh;">
            <div class="basic-div">
              <hr class="style13">
              <b style="font-size: 48; font-weight: 400;"> Friends</b>
              <hr class="style13" style="margin-bottom: 7.5vh;">      

              {% if friends %}
                {% for friend in friends %}
                <div class="wrapper">
                  <div class="wrapper-img">
                    {% if friend.profile_picture %}
                    <img src="" width="75" height="75" alt="">
                    {% else %}
                    <img src="{% static 'anon.png' %}" width="75" height="75" alt="">
                    {% endif %}
                  </div>
                  <div class="wrapper-tag">
                    <b><a href="{% url 'profile' friend.username %}" style="color: black;">{{ friend.first_name }} {{ friend.last_name }}</a></b>
                    <div class="wrapper-tag-goto">
                      <form action = "{% url 'unfriend' friend.id 'friends' %}" method="post">
                        {% csrf_token %}
                        <input  class="btn btn-primary" type="submit" value="Unfriend" style="font-size: 14px; padding: 0 5px 0 5px;">
                      </form>
                    </div>
                  </div>
                  <div class="wrapper-info">
                    {% if friend.birth %}
                    Birthdate: {{ friend.birth }},
                    {% else %} 
                    Hidden birthday,  
                    {% endif %}
                    located: 
                    {% if friend.location %}
                    {{ friend.location }}<br>
                    {% else %} 
                    Hidden info
                    {% endif %}
                    <a href="{% url 'dialog' friend.id %}" style="font-size: 14px; color: black; font-weight: 600;">Write a message</a>
                  </div>
                </div>
                {% endfor %}
              {% endif %} 
              {% if friends %}
              {% else %}
              <div class="wrapper" style="background-color: #ebeded; height: 60px;">
                No friends yet.
              </div>
              {% endif %}
              <hr class="style13" style="margin-top: 7.5vh;">
              {% if req_from %}
              <b style="font-size: 24; font-weight: 400;"> Followers</b>
                {% for req in req_from %}
                <div class="wrapper">
                  <div class="wrapper-img">
                    {% if req.profile_picture %}
                    <img src="" width="75" height="75" alt="">
                    {% else %}
                    <img src="{% static 'anon.png' %}" width="75" height="75" alt="">
                    {% endif %}
                  </div>
                  <div class="wrapper-tag">
                    <b><a href="{% url 'profile' req.username %}" style="color: black;">{{ req.first_name }} {{ req.last_name }}</a></b>
                    <div class="wrapper-tag-goto">
                      <form action = "{% url 'accept' req.username 'friends' %}" method="post">
                        {% csrf_token %}
                        <input  class="btn btn-primary" type="submit" value="Follow back" style="font-size: 14px; padding: 0 5px 0 5px;">
                      </form>
                    </div>
                  </div>
                  <div class="wrapper-info">
                    {% if req.birth %}
                    Birthdate: {{ req.birth }},
                    {% else %} 
                    Hidden birthday,  
                    {% endif %} 
                    {% if req.location %}
                    located: {{ req.location }}<br>
                    {% else %} 
                    hidden location
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              {% endif %}

              {% if req_to %}
              <b style="font-size: 24; font-weight: 400;">Following</b>
                {% for req in req_to %}
                <div class="wrapper">
                  <div class="wrapper-img">
                    {% if req.profile_picture %}
                    <img src="" width="75" height="75" alt="">
                    {% else %}
                    <img src="{% static 'anon.png' %}" width="75" height="75" alt="">
                    {% endif %}
                  </div>
                  <div class="wrapper-tag">
                    <b><a href="{% url 'profile' req.username %}" style="color: black;">{{ req.first_name }} {{ req.last_name }}</a></b>
                    <div class="wrapper-tag-goto">
                      <form action = "{% url 'unfollow' req.username 'friends'%}" method="post">
                        {% csrf_token %}
                        <input  class="btn btn-primary" type="submit" value="Unfollow" style="font-size: 14px; padding: 0 5px 0 5px;">
                      </form>
                    </div>
                  </div>
                  <div class="wrapper-info">
                    {% if req.birth %}
                    Birthdate: {{ req.birth }},
                    {% else %} 
                    Hidden birthday,  
                    {% endif %} 
                    {% if req.location %}
                    located: {{ req.location }}<br>
                    {% else %} 
                    hidden location
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>
          <div class="col"></div>
        </div>

         <!-- FOOTER -->
         <footer class="page-footer font-small blue" style="background-color: #597da3; color: #ffffff;">
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
              <a href="https://github.com/heyImDrew/" style="color: #ffffff;"> <u>heyImDrew</u></a>
          </div>
      </footer>
    </body>
</html>